{% load static %}
<title>Jagielly</title>
<link rel="stylesheet" href="{% static "css/index.css" %}"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

{% block content %}
    <p>
                <div class="mema">
                    <strong>{{post.author_name}}</strong>
                </div>
                <div class="teta">
                    <p>{{post.comment_text}}</p>
                </div>
        </a>
                <div class="tet">

                    {% if user.is_authenticated %}
                        <h7>{{ user.username }}</h7>
                    {% else %}
                        <h7>Анонимный пользователь</h7>
                    {% endif %}

                   

                </div>
    <a class="btn btn-default" href="{% url 'articles:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

{% endblock %}