{% load static %}
<title>Jagiellonsky</title>
<link rel="stylesheet" href="{% static "css/index.css" %}"/>

{% block content %}


<header>
  <a href="{% url 'articles:index' %}">Jagiellonsky</a>

</header>


<div class="obsh">
    {% if latest_comments_list %}

        {% for c in latest_comments_list %}
        <div class="our_comments">
        <a href="{% url 'articles:authorpost' pk=c.pk %}">
            <p>
                <div class="mema">
                    <strong>{{c.author_name}}</strong>
                </div>
                <div class="teta">
                    <p>{{c.comment_text}}</p>
                </div>
        </a>
                <div class="tet">

                    {% if user.is_authenticated %}
                        <h7>{{ user.username }}</h7>
                    {% else %}
                        <h7>Анонимный пользователь</h7>
                    {% endif %}

                   

                </div>
           </p>
         </div>
               

            		
                  {% endfor %}

    {% else %}
      <div class="trumpmygob">
          <h3>Никто пока не решился оставить комментарий</h3>
      </div>

    {% endif %}

    <div class="rewit">
       {% if user.is_authenticated %}
        <div class="rightnews">
           <a href="{% url 'articles:account' %}">
           <div class="cr">
              <p>Hi {{ user.username }}!</p>
            </div>
            </a>
            <div class="rc">
                <p><a href="{% url 'logout' %}">Выйти</a></p>
            </div>
        </div>
       {% else %}
       <div class="ererat">
          <div class="xx">
             <p>Вы не зарегестрированны</p>
              <a href="{% url 'signup' %}">Зарегестрироваться</a>
             </div>
             <div class="ff">
               <p>Если у вас есть аккаунт</p>
               <a href="{% url 'login' %}">Войти</a>
             </div>
          </div>
          {% endif %}
    </div>

    


</div>

<div class="our_plus">

 
  <h1><a href="{% url 'articles:post_new' %}">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg></a></h1>

  <h5>Создать новый пост</h5>
</div>

{% endblock %}
