
{% load static %}


<meta charset="utf-8">
<head>

   	 <title>Site with dark theme</title>
   	 <meta charset="utf-8">
   	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link id="mystylesheet" rel="stylesheet" type="text/css" href="styles/light.css">
     
</head>

{% block content %}



   	<button class="btn btn-light" onclick="swapStyle('/static/css/styles/light.css')">Light Mode</button>
    <button class="btn btn-dark" onclick="swapStyle('/static/css/styles/dark.css')">Dark Mode</button>
  

<script type="text/javascript">

    var setTheme = localStorage.getItem('theme')
    console.log('theme:', setTheme)

    if (setTheme == null){
      swapStyle('light.css')
    }else{
      swapStyle(setTheme)
    }

    function swapStyle(sheet){
      document.getElementById('mystylesheet').href = sheet
      localStorage.setItem('theme', sheet)
    }


    /*
    var setTheme = localStorage.getItem('theme')
    if (setTheme == null){
      swapStyles('light.css')
    }else{
      swapStyles(setTheme)
    }
      
    
    function swapStyles(sheet){
      document.getElementById('mystylesheet').href = sheet
      localStorage.setItem('theme', sheet)
    }
    */
    
  </script>
    
<h2>Регистрация</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Зарегестрироваться</button>
</form>



{% endblock %}
